
@import url(https://fonts.googleapis.com/css?family=Russo+One);

.content:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url('/assets/sp.jpg') fixed no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

  .content {
  overflow: auto;
  position: relative;
}

.white-text {
  color:#fff;
}

.shadow   {
  margin: 100px;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  box-shadow: 0 0 5px gray;
  border-radius: 25px;
}

h1 {
  font: 4em / 1.4 'Russo One', sans-serif;
  margin: 0;
  text-align: center;
}

h4 {
  font: 1em / 1 'Russo One', sans-serif;
  margin: 0;
  text-align: center;
}
